{%extends 'all-photos/base.html'%}
 {% block content %}
 {{ block.super }}

<div class="container">
<div class="row">
    {% for insta_item in instagram %}
    <div class="col-lg-8 well">
        <div class="scale">
          <h5> <b>{{insta_item.profile}} </b></h5>
          <a href="{% url 'image' insta_item.id %}"><img src="{{insta_item.image.url}}" class="img-responsive" alt="Image" width="500px" height="450px"></a>
          <br>
          <h4 class="btn btn-lg"><i class="far fa-heart" style="font-size:24px"></i></h4>{{insta_item.likes}}
          <a href="/comment-photo"> <h4 class="btn btn-lg" ><i class="far fa-comment" style="font-size:24px;color:black;"></i> </h4> </a>{{insta_item.comment}}
          <br>
          {{insta_item.image_caption}}
            </div>
           <a class="img-fluid myimage" href="#"> <img src="{{photos_item.image.url}}" class="image-responsive"></a>
           
        </div>
        <div class="col-md-2">
          
        </div>
        {% endfor%}
        <div class="col-md-2 well">
          <a href="{%url 'new-image'%}">Upload post</a>
        </div>
      
     
     
    
  </div>
</div>
{%endblock%}